/* styles.css */
.note-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.note-list {
  list-style: none;
  padding: 0;
}

.note-item {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.note-item h3 {
  color: #333;
}

.note-item button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-note-form {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}


/* styles.css */
.note-card {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.custom-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.custom-card h3 {
  font-size: 1.5rem;
  color: #333;
}

.custom-card p {
  color: #666;
}

.custom-card button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* styles.css */
.note-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.note-card {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* ... Gaya lainnya yang Anda butuhkan */
/* styles.css */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.judul{
  text-align: center;
}

.catatan{
  text-align: center;
}

.grid-container {
  display: grid;

  gap: 20px;
 /* Adjust the max-width as needed */
  margin: auto; /* This will center the grid container horizontally */
}

/* App.css */

/* Add a new class for centering */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Style for AddNoteForm */
.add-note-form {
  max-width: 400px; /* Adjust the max-width as needed */
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for input fields */
.add-note-form input,
.add-note-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.catetan{
  text-align: center;
}